body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url('https://wallpapers.com/images/hd/beautiful-sky-background-g3s17ha3ry0kjhzj.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 120px;
    z-index: 1;
}

.navbar img {
    width: 150px;
    height: auto;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.black-box {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px;
    height: 350px;
    position: absolute;
    z-index: 0;
    top: 20px;
    margin-top: 70px;
}

.white-box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1100px;
    z-index: 1;
    position: relative;
    margin-top: 50px;
    margin-bottom: 500px;
}

.icon-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1;
}

.icon-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

.icon-list img {
    width: 45px;
    height: 45px;
}

.icon-list span {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding-right: 20px;
}

.nav-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-list img {
    width: 24px;
    height: 24px;
}

.nav-list span {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.login-item {
    background-color: rgba(0, 145, 255, 0.812);
    padding: 10px 20px;
    border-radius: 5px;
}

.login-item span {
    color: white;
}

.blue-box {
    background-color: #007BFF;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 530px;
}

.search-text {
    color: white;
    font-size: 28px;
    font-weight: medium;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.transparent-box {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(128, 128, 128, 0.268);
    border-radius: 10px;
    display: flex;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: 170px;
}

.section {
    border: 1px solid rgba(128, 128, 128, 0.265);
    padding: 50px;
    flex: 1;
    margin: 4px;
}

.big-section {
    flex: 2;
}

.small-text {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.bold-text {
    font-weight: bold;
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.265);
    padding: 10px;
    flex: 1;
    margin: 4px;
    text-align: center;
}

.section-image {
    display: block;
    margin: 10px 10px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 50px;
}

.white-rectangle {
    background-color: white;
    width: 100%;
    height: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
